footer{
    margin-top:200px;
}

.thead-inverse th {
    color: #fff;
    background-color: #373a3c;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.bottom10 { margin-bottom: 10px; }

